## This is the tutorial for Pandas

In [8]:
import pandas as pd
import numpy as np

In [13]:
data = {'id':['Jack','Sarah','Mike'],
        'age':[18,23,46],
        'cash':[10.23,800.3,29.3]}
df = pd.DataFrame(data)
print df

   age    cash     id
0   18   10.23   Jack
1   23  800.30  Sarah
2   46   29.30   Mike

In [4]:
s = pd.Series({'a':4,'b':9,'c':16},name='number')
print s

a     4
b     9
c    16
Name: number, dtype: int64

In [15]:
print s[0]
print '-'*30
print s[:3]
print '-'*30
print s['a']
print '-'*30
s['d'] = 10
print s
print '-'*30
print np.sqrt(s)

4
------------------------------
a     4
b     9
c    16
Name: number, dtype: int64
------------------------------
4
------------------------------
a     4
b     9
c    16
d    10
Name: number, dtype: int64
------------------------------
a    2.000000
b    3.000000
c    4.000000
d    3.162278
Name: number, dtype: float64